<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.black.software.mapper.SoftwareMapper">
    <select id="selectByPage" resultType="software" parameterType="software">
        select s.*,f.size,f.md5,f.category_id,f.type,c.category
        from software s,file f,category c
        <where>
            <if test="software.name!=null and software.name!=''">
                f.name like "%"#{software.name}"%"
            </if>
            <if test="software.id!=null and software.id!=''">
                s.id = #{software.id}
            </if>
            and f.id=s.file_id and c.id=s.category_id
        </where>
    </select>
    <select id="selectByCategory" resultType="software" parameterType="map">
        select s.*,f.size,f.md5,f.category_id,f.type,c.theme_color themeColor
        from software s,file f,category c
        <where>
            <if test="categoryId!=null and categoryId!=''">
                s.category_id =#{categoryId}
            </if>
            and f.id=s.file_id and s.category_id=c.id and s.verify=1
        </where>
        <if test="size!=null and size!=0">
            limit 0,#{size}
        </if>
    </select>
</mapper>
